<div class="pnl-content p-3">
  <div class="box text-right" dir="rtl">
    <div class="p-grid p-fluid">
      <div class="p-col-12 p-md-4 w-100">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="کد پیگیری" [(ngModel)]="trackOrderNo">
          <button type="button" pButton pRipple label="جستجو" (click)="search()"></button>

        </div>
      </div>
    </div>
    <p-table #dt
             [value]="orders"
             dataKey="id">
      <ng-template pTemplate="caption">
        <div class="table-header row">
          <div class="col-sm-12">پیگیری سفارشات</div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr class="title-table">
          <th class="text-center" style="width: 50px;">ردیف</th>
          <th class="text-center">تاریخ و ساعت</th>
          <th class="text-center">وضعیت</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order let-rowIndex="rowIndex">
        <tr>
        </tr>

      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">هیچ رکوردی یافت نشد.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
