<p-toast position="center"></p-toast>

<div class="pnl-content p-3">
  <div class="box text-right" dir="rtl">
    <p-tabView dir="rtl">
      <p-tabPanel>
        <ng-template pTemplate="header"
        ><i
          class="pi pi-info p-pl-3 text-white"
          style="font-size: 1rem"
        ></i>
          ویرایش اطلاعات کاربری
        </ng-template>


        <div style="direction: rtl; text-align: right">
          <form [formGroup]="form" (ngSubmit)="submitForm()" class="w-100 mt-3">

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="adminName">نام و نام خانوادگی</label>
                <input id="adminName" type="text" pInputText
                       formControlName="adminName">
                <ul class="mt-1 text-right list-inline"
                    *ngFor="let error of errorMessages.adminName">
                  <li class="font-small text-danger font-title-bold list-inline-item"
                      *ngIf="form.get('adminName').hasError(error.type)
                            && (form.get('adminName').dirty
                            || form.get('adminName').touched)">
                    {{ error.message }}
                  </li>
                </ul>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label>آپلود تصویر</label>
                <p-fileUpload
                  chooseLabel="انتخاب تصویر"
                  uploadLabel="آپلود تصویر"
                  cancelLabel="انصراف"
                  customUpload="true"
                  (uploadHandler)="imageUploader($event)"
                  invalidFileSizeMessageDetail="حداکثر سایز فایل 2 مگابایت می باشد"
                  invalidFileSizeMessageSummary="اندازه فایل بیش از حد مجاز می باشد"
                  accept="image/jpeg,image/png" maxFileSize="2000000">
                </p-fileUpload>
                <ul class="mt-1 text-right list-inline"
                    *ngFor="let error of errorMessages.image">
                  <li class="font-small text-danger font-weight-bold list-inline-item"
                      *ngIf="form.get('image').hasError(error.type)
                            && (form.get('image').dirty
                            || form.get('image').touched)">
                    {{ error.message }}
                  </li>
                </ul>
              </div>

              <div class="p-field p-col" *ngIf="admin.image !== null">
                <label class="d-block">تصویر فعلی</label>
                <img [src]="admin.image" class="img-fluid" width="150">
              </div>

            </div>


            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <div class="float-left">
                  <button pButton label="ثبت" class="ui-button-success"
                          icon="pi pi-check" iconPos="left" [disabled]="form.invalid"></button>
                </div>
              </div>
            </div>

          </form>
        </div>


      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header"
        ><i
          class="pi pi-info p-pl-3 text-white"
          style="font-size: 1rem"
        ></i>
          ویرایش نام کاربری
        </ng-template>


        <div style="direction: rtl; text-align: right">
          <form [formGroup]="usernameForm" (ngSubmit)="changeUsername()" class="w-100 mt-3">

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="username">نام کاربری</label>
                <input id="username" type="text" pInputText
                       formControlName="username">
                <ul class="mt-1 text-right list-inline"
                    *ngFor="let error of usernameErrorMessages.username">
                  <li class="font-small text-danger font-title-bold list-inline-item"
                      *ngIf="usernameForm.get('username').hasError(error.type)
                            && (usernameForm.get('username').dirty
                            || usernameForm.get('username').touched)">
                    {{ error.message }}
                  </li>
                </ul>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <div class="float-left">
                  <button pButton label="ثبت" class="ui-button-success"
                          icon="pi pi-check" iconPos="left" [disabled]="usernameForm.invalid"></button>
                </div>
              </div>
            </div>

          </form>
        </div>


      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header"
        ><i
          class="pi pi-key p-pl-3 text-white"
          style="font-size: 1rem"
        ></i>
          تغییر رمز عبور
        </ng-template>

        <div style="direction: rtl; text-align: right">
          <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="w-100 mt-3">

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="password">رمز عبور</label>
                <input id="password" type="text" pInputText
                       formControlName="password">
                <ul class="mt-1 text-right list-inline"
                    *ngFor="let error of passwordErrorMessages.password">
                  <li class="font-small text-danger font-title-bold list-inline-item"
                      *ngIf="passwordForm.get('password').hasError(error.type)
                            && (passwordForm.get('password').dirty
                            || passwordForm.get('password').touched)">
                    {{ error.message }}
                  </li>
                </ul>
              </div>
              <div class="p-field p-col">
                <label for="confirmPassword">تکرار رمز عبور</label>
                <input id="confirmPassword" type="text" pInputText
                       formControlName="confirmPassword">
                <ul class="mt-1 text-right list-inline"
                    *ngFor="let error of passwordErrorMessages.confirmPassword">
                  <li class="font-small text-danger font-title-bold list-inline-item"
                      *ngIf="passwordForm.get('confirmPassword').hasError(error.type)
                            && (passwordForm.get('confirmPassword').dirty
                            || passwordForm.get('confirmPassword').touched)">
                    {{ error.message }}
                  </li>
                </ul>
                <ul class="mt-0">
                  <li class="font-small text-danger font-weight-bold"
                      *ngIf="passwordForm.errors?.passwordNotMatch
                            && (passwordForm.get('confirmPassword').dirty ||
                            passwordForm.get('confirmPassword').touched)">
                    تکرار کلمه عبور مطابقت ندارد.
                  </li>
                </ul>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <div class="float-left">
                  <button pButton label="ثبت" class="ui-button-success"
                          icon="pi pi-check" iconPos="left" [disabled]="passwordForm.invalid"></button>
                </div>
              </div>
            </div>

          </form>
        </div>


      </p-tabPanel>

    </p-tabView>
  </div>
</div>
