<mat-sidenav-container class="sidenav-container" dir="rtl">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar class="title-sidebar text-center">
      <div class="row w-100">
        <div class="col-12">
          <img [src]="localStorage.userJson.image"
               class="d-block img-fluid mb-2 mx-a mx-auto rounded-circle" width="50px">

        </div>
      </div>
    </mat-toolbar>
    <hr style="margin-top: -10px"/>
    <mat-nav-list>
      <mat-list>

        <mat-list-item [routerLink]="['/admin/index']"><i class="pi pi-home p-pl-4 text-white"
                                                          style="font-size: 1rem"></i> پیشخوان
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item (click)="showSubmenu1 = !showSubmenu1" class="parent">
          <span class="full-width" *ngIf="isExpanded1 || isShowing1">مدیریت محصولات</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu1}"
                    style="position: absolute;left: 10px;"
                    *ngIf="isExpanded1 || isShowing1">expand_more
          </mat-icon>
        </mat-list-item>
        <div class="submenu mr-3" [ngClass]="{'expanded' : showSubmenu1}" *ngIf="isShowing1 || isExpanded1">
          <mat-list-item [routerLink]="['/admin/product']"><i class="pi pi-file-o p-pl-4 text-white"
                                                              style="font-size: 1rem"></i> مدیریت محصولات
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['/admin/category']"><i class="pi pi-list p-pl-4 text-white"
                                                               style="font-size: 1rem"></i> مدیریت دسته بندی ها
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['/admin/feature']"><i class="pi pi-tags p-pl-4 text-white"
                                                              style="font-size: 1rem"></i> مدیریت ویژگی محصولات
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['/admin/comment']"><i class="pi pi-comments p-pl-4 text-white"
                                                              style="font-size: 1rem"></i>مدیریت دیدگاه ها
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['/admin/advice']"><i class="pi pi-question p-pl-4 text-white"
                                                             style="font-size: 1rem"></i>مدیریت مشاوره ها
          </mat-list-item>
        </div>

        <mat-divider></mat-divider>


        <mat-list-item (click)="showSubmenu2 = !showSubmenu2" class="parent">
          <span class="full-width" *ngIf="isExpanded2 || isShowing2">فروشنده ها</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu2}"
                    style="position: absolute;left: 10px;"
                    *ngIf="isExpanded2 || isShowing2">expand_more
          </mat-icon>
        </mat-list-item>
        <div class="submenu mr-3" [ngClass]="{'expanded' : showSubmenu2}"
             *ngIf="isShowing2 || isExpanded2">
          <mat-list-item [routerLink]="['/admin/seller']"><i class="pi pi-users p-pl-4 text-white"
                                                             style="font-size: 1rem"></i>مدیریت فروشنده ها
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['/admin/contract']"><i class="pi pi-file p-pl-4 text-white"
                                                               style="font-size: 1rem"></i>مدیریت قرارداد های فروشنده
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['/admin/transaction']"><i class="pi pi-money-bill p-pl-4 text-white" style="font-size: 1rem"></i>تراکنش
            های مالی
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>

        <mat-list-item [routerLink]="['/admin/order']"><i class="pi pi-shopping-cart p-pl-4 text-white"
                                                          style="font-size: 1rem"></i>مدیریت سفارسات
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['/admin/track']"><i class="pi pi-eye p-pl-4 text-white"
                                                          style="font-size: 1rem"></i>پیگیری سفارسات
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['/admin/homepage']"><i class="pi pi-desktop p-pl-4 text-white"
                                                             style="font-size: 1rem"></i>مدیریت صفحه اصلی سایت
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['/admin/user']"><i class="pi pi-users p-pl-4 text-white"
                                                         style="font-size: 1rem"></i>مدیریت کاربران

        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['/admin/admin']"><i class="pi pi-users p-pl-4 text-white"
                                                          style="font-size: 1rem"></i>مدیریت Admin ها

        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['/admin/notification']"><i class="pi pi-info p-pl-4 text-white"
                                                                 style="font-size: 1rem"></i>مدیریت اطلاعیه ها
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['/admin/commission']"><i class="pi pi-info p-pl-4 text-white"
                                                               style="font-size: 1rem"></i>مدیریت کمیسیون ها
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['/admin/profile']"><i class="pi pi-user-edit p-pl-4 text-white"
                                                            style="font-size: 1rem"></i>پروفایل کاربری
        </mat-list-item>
        <mat-divider></mat-divider>

      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <p-toolbar>
      <div class="ui-toolbar-group-right">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <div class="pi pi-bars"></div>
        </button>
      </div>

      <div class="p-d-flex p-jc-between">
        <div class="mx-5">
          <p style="font-size: 15px; margin: unset" class="text-white">
            {{localStorage.userJson.adminName}} ({{localStorage.userJson.type}})

          </p>
        </div>
        <div class="p-as-center">
          <label class="p-ml-5 text-white text-center">{{date}}</label>
          <label class="p-ml-5 text-white text-center">{{time}}</label>
        </div>
        <div>
          <a class="text-white" (click)="logOut()"><i class="pi pi-power-off text-white pl-2"></i>خروج</a>
        </div>
      </div>

    </p-toolbar>
    <ng-content>

    </ng-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

