<p-toast position="center"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<div class="pnl-content p-3">
  <div class="box text-right" dir="rtl">

    <p-table #dt
             [value]="admins"
             dataKey="id"
             [rows]="5"
             [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[10, 25, 50]"
             [paginator]="true"
             currentPageReportTemplate="نمایش {first} تا {last} از {totalRecords} صفحه"
             [filterDelay]="0"
             [globalFilterFields]="[
          'adminName',
          'userName'
        ]">

      <ng-template pTemplate="caption">
        <div class="table-header row">
          <div class="col-sm-6">لیست Admin ها</div>
          <div class="col-sm-6 text-left">
            <button
              pButton
              pRipple
              label="جدید"
              icon="pi pi-plus"
              class="p-button-success p-mr-2 p-button-icon-right"
              (click) = "showAddDialog()"
            ></button>
          </div>
        </div>
        <div class="col-sm-12">
              <span class="p-input-icon-left w-100 mt-3">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  class="w-100"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="جستجو کلی"
                />
              </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr class="title-table">
          <th class="text-center">ردیف</th>
          <th class="text-center">تصویر</th>
          <th class="text-center">نام</th>
          <th class="text-center">نام کاربری</th>
          <th class="text-center">نوع</th>
          <th class="text-center">عملیات</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-admin let-rowIndex="rowIndex">
        <tr>
          <td class="text-center">{{rowIndex + 1}}</td>
          <td class="text-center"><img [src]="admin.image" class="img-fluid" width="100"> </td>
          <td class="text-center">{{admin.adminName}}</td>
          <td class="text-center">{{admin.username}}</td>
          <td class="text-center">{{admin.type}}</td>

          <td class="text-center">
            <button pButton pRipple icon="pi pi-pencil"
                    (click)="showEditDialog(admin._id, admin)"
                    class="p-button-outlined p-button-warning ml-2"></button>
            <button pButton pRipple icon="pi pi-key"
                    (click)="showChangePasswordDialog(admin._id, admin.username)"
                    class="p-button-outlined p-button-info ml-2"></button>
            <button pButton pRipple (click)="delete(admin._id)"
                    icon="pi pi-trash" class="p-button-outlined p-button-danger"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">هیچ رکوردی یافت نشد.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
