

<p-table [value]="listPurchases" #dt [columns]="cols" [paginator]="true" [rows]="20">
  <ng-template pTemplate="caption">
    <div class="alert alert-warning text-center"> لیست فروش ها</div>

  </ng-template>
  <ng-template pTemplate="header">
    <tr class="title-table">
      <th style="width: 30%" class="text-center">ردیف</th>
      <th style="width: 70%" class="text-center">نام کالا </th>
      <th style="width: 70%" class="text-center">تعداد کالا </th>
      <th style="width: 70%" class="text-center">قیمت</th>
      <th style="width: 70%" class="text-center">تاریخ خرید</th>
      <th style="width: 70%" class="text-center">قیمت کل</th>
      <th style="width: 70%" class="text-center">مشخصات خریدار</th>
    </tr>
<!--    <tr>-->
<!--      <th></th>-->
<!--      <th *ngFor="let col of cols" [ngSwitch]="col.field" >-->
<!--        <input style="width: 100%" class="input-filter text-center" placeholder="جستجوی  " *ngSwitchCase="'candidateNumber'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">-->
<!--        <input  style="width: 100%" class="input-filter text-center " placeholder="جستجوی  " *ngSwitchCase="'nationalCode'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">-->
<!--        <input  style="width: 100%" class="input-filter text-center" placeholder="جستجوی " *ngSwitchCase="'firstName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">-->
<!--      </th>-->
<!--    </tr>-->
  </ng-template>
  <ng-template pTemplate="body" let-basket let-rowIndex="rowIndex">

    <tr>
      <td class="text-center">{{rowIndex + 1}}</td>
      <td class="text-center">{{basket['product'][0].title}}</td>
      <td class="text-center">{{basket.count}}</td>
      <td class="text-center">{{basket.price|number}}</td>
      <td class="text-center">{{basket.date}}</td>
      <td class="text-center">{{(basket.price*basket.count)-((basket.price*basket.count)*basket.offerPercent)/100|number}}</td>
      <td class="text-center"><button pButton label="مشاهده" (click)="showDialog()"></button> </td>
    </tr>
    <p-dialog header="مشخصات فروشنده" [(visible)]="display" [style]="{width: '50vw'}">
     <table class="table table-bordered">
       <thead>
       <tr>
         <th style="width: 15%">
           نام و نام خانوادگی
         </th>

         <th style="width: 40%">
        آدرس
         </th>
         <th style="width: 13%">
           کدپستی
         </th>
       </tr>
       </thead>
       <tbody>
       <tr>
         <td>
           {{basket['user'][0].firstName +basket['user'][0].lastName}}
         </td>

         <td>
           {{basket['user'][0].state+'-'+basket['user'][0].city+'-'+ basket['user'][0].address }}
         </td>
         <td>
           {{ basket['user'][0].postalCode }}
         </td>
       </tr>
       </tbody>
     </table>
      <div></div>
    </p-dialog>
  </ng-template>


</p-table>

<div class="text-center mt-5">
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ef2b2f" type = "timer" [fullScreen] = "true">
    <p style="color: white" > منتظر بمانید </p>
  </ngx-spinner>
</div>

