<p-toast position="center"></p-toast>
<div style="direction: rtl; text-align: right">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="w-100 mt-3">

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="adminName">نام و نام خانوادگی</label>
        <input id="adminName" type="text" pInputText
               formControlName="adminName">
        <ul class="mt-1 text-right list-inline"
            *ngFor="let error of errorMessages.adminName">
          <li class="font-small text-danger font-title-bold list-inline-item"
              *ngIf="form.get('adminName').hasError(error.type)
                            && (form.get('adminName').dirty
                            || form.get('adminName').touched)">
            {{ error.message }}
          </li>
        </ul>
      </div>
      <div class="p-field p-col">
        <label for="username">نام کاربری</label>
        <input id="username" type="text" pInputText
               formControlName="username">
        <ul class="mt-1 text-right list-inline"
            *ngFor="let error of errorMessages.username">
          <li class="font-small text-danger font-title-bold list-inline-item"
              *ngIf="form.get('username').hasError(error.type)
                            && (form.get('username').dirty
                            || form.get('username').touched)">
            {{ error.message }}
          </li>
        </ul>
      </div>
      <div class="p-field p-col">
        <label>نوع</label>
        <p-dropdown [options]="types" formControlName="type" optionLabel="name" optionValue="code"></p-dropdown>
        <ul
          class="mt-1 text-right list-inline"
          *ngFor="let error of errorMessages.type"
        >
          <li
            class="font-small text-danger font-weight-bold list-inline-item"
            *ngIf="
                      form.get('type').hasError(error.type) &&
                      (form.get('type').dirty ||
                        form.get('type').touched)
                    "
          >
            {{ error.message }}
          </li>
        </ul>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <label>آپلود تصویر</label>
        <p-fileUpload
          chooseLabel="انتخاب تصویر"
          uploadLabel="آپلود تصویر"
          cancelLabel="انصراف"
          customUpload="true"
          (uploadHandler)="imageUploader($event)"
          invalidFileSizeMessageDetail="حداکثر سایز فایل 2 مگابایت می باشد"
          invalidFileSizeMessageSummary="اندازه فایل بیش از حد مجاز می باشد"
          accept="image/jpeg,image/png" maxFileSize="2000000">
        </p-fileUpload>
        <ul class="mt-1 text-right list-inline"
            *ngFor="let error of errorMessages.image">
          <li class="font-small text-danger font-weight-bold list-inline-item"
              *ngIf="form.get('image').hasError(error.type)
                            && (form.get('image').dirty
                            || form.get('image').touched)">
            {{ error.message }}
          </li>
        </ul>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="password">رمز عبور</label>
        <input id="password" type="text" pInputText
               formControlName="password">
        <ul class="mt-1 text-right list-inline"
            *ngFor="let error of errorMessages.password">
          <li class="font-small text-danger font-title-bold list-inline-item"
              *ngIf="form.get('password').hasError(error.type)
                            && (form.get('password').dirty
                            || form.get('password').touched)">
            {{ error.message }}
          </li>
        </ul>
      </div>
      <div class="p-field p-col">
        <label for="confirmPassword">تکرار رمز عبور</label>
        <input id="confirmPassword" type="text" pInputText
               formControlName="confirmPassword">
        <ul class="mt-1 text-right list-inline"
            *ngFor="let error of errorMessages.confirmPassword">
          <li class="font-small text-danger font-title-bold list-inline-item"
              *ngIf="form.get('confirmPassword').hasError(error.type)
                            && (form.get('confirmPassword').dirty
                            || form.get('confirmPassword').touched)">
            {{ error.message }}
          </li>
        </ul>
        <ul class="mt-0">
          <li class="font-small text-danger font-weight-bold"
              *ngIf="form.errors?.passwordNotMatch
                            && (form.get('confirmPassword').dirty ||
                            form.get('confirmPassword').touched)">
            تکرار کلمه عبور مطابقت ندارد.
          </li>
        </ul>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <div class="float-left">
          <button pButton label="ثبت" class="ui-button-success"
                  icon="pi pi-check" iconPos="left" [disabled]="form.invalid"></button>
        </div>
      </div>
    </div>

  </form>
</div>
