<mat-sidenav-container class="sidenav-container" dir="rtl">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar class="title-sidebar">فروشنده</mat-toolbar>
    <hr style="margin-top: -10px"/>
    <mat-nav-list>
      <mat-list>
        <mat-list-item class="iran" [routerLink]="['/seller/profile']"><i class="pi pi-user p-pl-4 text-white"
                                                                          style="font-size: 1rem"></i> اطلاعات کاربری
        </mat-list-item>
        <mat-divider></mat-divider>
        <!--        *ngIf="localStorage.userJson.active === true"-->
        <div>
          <mat-list-item [routerLink]="['/seller/notification']" [disabled]="!activeSeller">
            <i class="pi pi-info p-pl-4 text-white" style="font-size: 1rem"></i>اطلاعیه ها
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['/seller/product']" [disabled]="!activeSeller">
            <i class="pi pi-file p-pl-4 text-white" style="font-size: 1rem"></i> محصولات من
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['/seller/purchases']" [disabled]="!activeSeller">
            <i class="pi pi-file p-pl-4 text-white" style="font-size: 1rem"></i> فروش های من
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['/seller/advice']" [disabled]="!activeSeller">
            <i class="pi pi-question p-pl-4 text-white" style="font-size: 1rem"></i> مشاوره محصولات
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item [routerLink]="['/seller/feature']" [disabled]="!activeSeller">
            <i class="pi pi-file p-pl-4 text-white" style="font-size: 1rem"></i> ویژگی محصولات
          </mat-list-item>

          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['/seller/setting']">
            <i class="pi pi-cog p-pl-4 text-white" style="font-size: 1rem"></i> تنظیمات
          </mat-list-item>
        </div>
      </mat-list>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <p-toolbar>
      <div class="ui-toolbar-group-right">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <div class="pi pi-bars"></div>
        </button>
      </div>

      <div class="p-d-flex justify-content-center top-row">
        <label class="p-ml-5 text-white text-center">{{date}}</label>
        <label class="p-ml-5 text-white text-center">{{time}}</label>
        <div class="p-mr-5">
          <a class="text-white" (click)="logOut()"><i class="pi pi-power-off text-white pl-2"></i>خروج </a>
        </div>
      </div>
    </p-toolbar>

    <ng-content>

    </ng-content>

    <div class="pnl-content p-3" *ngIf="localStorage.userJson.active !== true">
      <div class="box text-right" dir="rtl">
        <p>
          لطفا ابتدا اطلاعات کاربری خود را بطور کامل تکمیل نمایید و سپس متن قرارداد را مطالعه نموده و در صورت تمایل به
          همکاری تایید نمایید پس از بررسی اطلاعات شما در صورت تایید تیم پشتیبانی فروشگاه اینترنتی به قیمت، کلیه امکانات
          پنل شما فعال خواهد شد.
        </p>
      </div>
    </div>




    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
