.seller-features-section {
  background-color: #F2F5F9;
  color: #4d4d4d;
  font-family: IRANSans_Bold;
  padding: 70px 0;
}

.subtitle {
  color: #4d4d4d;
  font-size: 36px;
  font-family: IRANSans_Bold;
}

.heading {
  color: #CC3333;
  font-size: 30px;
  margin-top: 12px;
  font-family: IRANSans_Bold;
}

.seller-features-lg {
  background-color: #F2F5F9;
  color: #4d4d4d;
  font-family: IRANSans_Bold;
}

.seller-features-lg .seller-feature {
  padding: 70px 0;
}

.custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

::ng-deep .p-timeline-event-content,
::ng-deep .p-timeline-event-opposite {
  line-height: 1;
}


@media screen and (max-width: 960px) {
  ::ng-deep .customized-timeline .p-timeline-event:nth-child(even) {
    flex-direction: row !important;
  }

  ::ng-deep .customized-timeline .p-timeline-event-content {
    text-align: left !important;
  }
}

.p-timeline-event-opposite {
  flex: 0;
}

.p-card {
  margin-top: 1rem;
}

:host ::ng-deep .p-card .p-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: IRANSans_Bold;
}

:host ::ng-deep .custom-marker {
  color: #4d4d4d;
}

:host ::ng-deep .p-card .p-card-title {
  font-size: 1rem !important;
  font-weight: 500 !important;
}
